#row{
    margin-top:10px;
}
#label{
    margin-left:5px;
}
#container-btn{
    width:130px;
    height:60px;
}
#hidden-row{
    margin-top:10px;
    display:none;
}

#send-btn{
    display:block;margin:auto;width:700px;
}

@media only screen and (max-width: 500px) {
    #send-btn{
        display:block;margin:auto;max-width:200px
    }
  }