#row{
    margin-top:10px;
}
#row1{
    margin-top:15px;
}
#hidden-row{
    display: none;
}

#confirm-btn{
    width:700px;
    display: block;
    margin:auto;
}


@media only screen and (max-width: 500px) {
    #confirm-btn{
        max-width:200px;
        display: block;
        margin:auto;
    }
  }