.brand{
    width:340px;
    height:100px;
}
.hd-navbar{
            outline: none;
            box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
            color: #41403e;
            transition: all 0.5s ease;
            background-image: linear-gradient(to right, #ace7ff, #ffcbc1,#fff5ba);
            border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
            background-color: white;
            
}
.hd-navbar:hover{
    box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}